<%
local dsp = require "luci.dispatcher"
-%>

<script type="text/javascript">
	//<![CDATA[
	XHR.poll(10, '<%=dsp.build_url("admin/services/pushbotx/client")%>', null,
		function(x, data) {
			location.reload();
		}
	);
	//]]>
</script>

<h2><%:在线设备列表%></h2>
<div class="table" id="traffic">
	<div class="tr table-titles">
		<div class="th" id="thClient" style="width:17%"><%:客户端名%></div>
		<div class="th" id="thMAC" style="width:10%"><%:MAC%></div>
		<div class="th" id="thIP" style="width:17%"><%:IP%></div>
		<div class="th" id="thTotal" style="width:9%"><%:总计流量%></div>
		<div class="th" id="thFirstSeen" style="width:15%"><%:在线时间%></div>
	</div>
	<p><em><%:请先启动 pushbotx 服务以加载设备列表%></em></p>
</div>